@model Biblioteque.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}


<main class="container">
<<<<<<< HEAD
    <section class="row g-5">
        @for (var i = 0; i < Model.LivreViewM.Count; i++)
        {
            <article class="row-1 col-lg-3 col-md-4 col-sm-6 animation-home">
                <figure class="border border-dark">
                    <a asp-action="Details" asp-route-id="@Model.LivreViewM[i].Id">
                        <img class="img-fluid" src="~/Upload/@Html.DisplayFor(modeL => modeL.LivreViewM[i].CheminImage )" alt="Couverture de Livres" />
                    </a>
                </figure>
            </article>

        }       
    
           @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
=======
    <section class="row g-5 p-5">
       
 
    
@foreach (var item in Model) {
    
                   
                    <article class="row-1 col-lg-3 col-md-4 col-sm-6 animation-home">
                        <figure class="border border-dark">
                    <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="img-fluid" src="~/Upload/@Html.DisplayFor(modelitem => item.CheminImage)" alt="Couverture de Livres" />
                            </a>
                        </figure>
                    </article>


         
>>>>>>> c9e229e602811744bac6ab818b33cfafad51d15e
         


</section>
</main>


        



